.youtube-wrapper{
    border: 1px solid grey;
    display: inline-block;
    padding: 10px;
}

.img-thumb{
    width: 50%;
    height: 50%;
    overflow: hidden;
    position: relative;
}

.img-thumb img{
    width: 100%;
}